html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: url(https://s3.amazonaws.com/codecademy-content/projects/armando-perez/brand.jpg) no-repeat fixed;
  background-size: 100%;
}

.header {
  padding: 90px 0 30px;
}

.header h1 {
  text-transform: uppercase;
  color: #fff;
  font-size: 33px;
  margin-left: 20px;
  font-family: cursive;
}

.header ul {
  padding: 0 20px;
}

.header li {
  list-style: none;
  display: inline;
  margin: 6px;
  text-align: center;
  width: 100px;
}

.header li a {
  color: #f01251;
}

.header li.active a {
  background-color: #f01251;
}

.thumbnail {
  border: none;
  padding: 0;
}

.footer {
  padding: 30px 0;
}

.footer ul {
  list-style: none;
  padding: 0 20px;
}

.footer li {
  display: inline;
  font-weight: bold;
  margin-right: 20px;
}

.footer p {
  margin-right: 50px;
}
