html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

.container {
	margin: 0 auto;
	max-width: 940px;
	padding: 0 10px;
}

.header {
  height: 800px;
  text-align: center;
  text-transform: uppercase;
  background: url(https://s3.amazonaws.com/codecademy-content/projects/innovation-cloud/bg.jpg) no-repeat center;
  background-size: cover;
}

.header .container {
	position: relative;
	top: 200px;

}

.header h1 {
	font-size: 80px;
	line-height: 100px;
	margin-top: 0;
	margin-bottom: 80px;
  color: white;
}

@media (min-width:850px) {
	.header h1 {
		font-size: 120px;
	}
}

.header p {
	font-weight: 500;
	letter-spacing: 8px;
	margin-bottom: 40px;
	margin-top: 0;
  color: white;
}

.btn {
  padding: 5px 20px;
  background-color: black;
  color: white;
  text-decoration: none;
}

.btn:hover {
	background: #117bff;
	cursor: pointer;
	transition: background .5s;
}

.nav {
 	background: black;
}

.nav ul {
	list-style: none;
	margin: 0 auto;
	padding: 30px 0;
	text-align: center;
}

.nav ul li {
 display: inline-block;
 padding: 0px 15px;
 color: white;
}

.main .container {
	margin: 50px auto;
}

.main img {
  float: left;
}

.jumbotron {
	height: 600px;
	text-align: right;
  background: url(https://wallpaperscraft.com/image/city_night_road_skyscrapers_836_3840x2400.jpg) no-repeat center;
  background-size: cover;
  color: white;
}

.jumbotron .container {
	position: relative;
	top: 220px;
}

.footer {
	font-size: 14px;
  background: black;
  color: white;
  padding-left: 20px;
  padding-top: 13px;
  margin: -10px;
  height: 50px;
}

@media (max-width: 500px) {
  .header h1 {
    font-size: 50px;
    line-height: 64px;
  }

  .main, .jumbotron {
    padding: 0 30px;
  }

  .main img {
    width: 100%;
  }
}
